*{
    margin: 0;
    padding: 0;
}
body{
    margin:0 auto;
}

#main{
    background-color: lightgreen;
    margin: 0px auto;
    height: 500px;
    width: 600px;
}

#banner{
    background-color: black;
    color:white;
    position: relative;
}

#content{
    position: relative;
    background-color: grey;
}

#content ul{
    list-style: none;
}

#content li{
    background-color: purple;
    position:relative;
    display:inline-block;
    margin:5px;
    width: 156px;
    height:156px;
    border-radius: 1px 15px;

}

#post {
    float:left;
    position:relative;
    width: 100%;
    height: 100%;
    border-style: solid;
}

#highlight {
    display:inline;
    overflow:hidden;
    width:20%;
    height:20%;

}

#postMenu {
    display:inline;
    overflow:hidden;
    text-align: right;
    width:30%;
    height:20%;

}

#playArea {
    text-align: center;
    overflow:hidden;
    width: 100%;
    height: 30%;
}

#playArea p {
    padding-top: 10%;

}

#postInfo {
    text-align:center;
    overflow:hidden;
    width: 100%;
    height: 25%;
}

#postUser {
    display:inline-block;
    overflow:hidden;
    width:70%;
    height:25%;
}

#icons {
    display:inline-block;
    overflow:hidden;
    width:30%;
    height:25%;
}

#categories{
    background-color: black;
    height: 100px;
    color: white;
}

